html, body{
  margin: 0;
  padding: 0;
}

.myPicture{
  width: 150%;
  border-radius: 50%;
}

.container{
  display: flex;
  flex-direction: row;
  border-style: hidden hidden solid hidden;
  padding-top: 60%;
}

.pictureTitle{
  padding-right: 20%;
  padding-bottom: 15%;
  padding-top: 5%;
}
.title{
  align-items: center;
  font-size: 50%;
  white-space: nowrap;
  padding-left: 25%;
}

.aboutText{
  font-size: 50%;
  padding-top: 5%;
}

.aboutP{
  font-size: 70%;
}
/* ------------------------------------------------------------------------------------------ */
.lang{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.imageGrid{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, 45%);
  grid-template-rows: repeat(3, 60%);;
}

@media only screen and (max-width:1322px){
  .imageGrid, img{
    width: 70%;
    padding-left: 10%;
  }
 }