html, body{
  margin: 0;
  padding: 0;
}

.MainContainer{
  padding-top: 120%;
  color: white;
}

.myPicture{
  width: 150%;
  border-radius: 50%;
}

.container{
  display: flex;
  flex-direction: row;
  border-style: hidden hidden solid hidden;
  line-height: 35px;
  /* border-radius: 5%; */
  width: 137%;
  margin-left: -12%;
}

.pictureTitle{
  padding-right: 22%;
  padding-bottom: 15%;
  padding-top: 12%;
}
.title{
  align-items: center;
  font-size: 50%;
  white-space: nowrap;
  padding-top: 10%;
  padding-left: 28%;
  font-family: serif;
}

.aboutText{
  font-size: 50%;
  padding-top: 10%;
  width: 250%;
  
}

.aboutText h2{
  font-size: larger;
  /* text-align: center; */
  font-size:30px; font-weight:500; color:white; letter-spacing:2px;
  /* text-transform: uppercase; */
}

.aboutP{
  text-align: justify;
  padding-top: 4%;
  font-size: 75%;
}
/* ------------------------------------------------------------------------------------------ */

.EmanuelSkills{
  width: 110%;
}
#langGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 21%);
  grid-template-rows: repeat(1, 30%);
}
#langGrid {
  font-size: 50%;
  text-align: center;
  
}
#DatabaseGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 21%);
  grid-template-rows: repeat(1, 30%);
}
#DatabaseGrid {
  font-size: 50%;
  text-align: center;
  
}
#FrameworkGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 21%);
  grid-template-rows: repeat(1, 30%);
}
#FrameworkGrid {
  font-size: 50%;
  text-align: center;
  
}
#ToolsGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 21%);
  grid-template-rows: repeat(1, 30%);
}
#ToolsGrid {
  font-size: 50%;
  text-align: center;
  
}

#grid, img {
  width: 40%;
  font-size: 60%;
}

/* .skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.skills h3 {
  text-align: center;
  font-size:30px; font-weight:300; color:white; letter-spacing:2px;
  text-transform: uppercase;
  
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.skills h3:after,.skills h3:before {
      content: " ";
      display: block;
      border-bottom: 2px solid #734b6d;
      border-top:2px solid #42275a;
      height: 10px;
    /* background-color:#f8f8f8; */
  }
  


/* 
@media only screen and (max-width:1050px){
  .box{
    font-size: 40%;
  }
 } */