html, body{
  margin: 0;
  padding: 0;
}

.MainContainer{
  padding-top: 120%;
}

.myPicture{
  width: 150%;
  border-radius: 50%;
}

.container{
  display: flex;
  flex-direction: row;
  border-style: hidden hidden solid hidden;
  width: 110%;
}

.pictureTitle{
  padding-right: 25%;
  padding-bottom: 15%;
  padding-top: 10%;
}
.title{
  align-items: center;
  font-size: 50%;
  white-space: nowrap;
  padding-top: 5%;
  padding-left: 35%;
}

.aboutText{
  font-size: 50%;
  padding-top: 10%;
  width: 250%;
}

.aboutP{
  padding-top: 4%;
  font-size: 75%;
}
/* ------------------------------------------------------------------------------------------ */
.skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

#langGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(1, 30%);
}
#langGrid {
  font-size: 50%;
  text-align: center;
  
}
#DatabaseGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(1, 30%);
}
#DatabaseGrid {
  font-size: 50%;
  text-align: center;
  
}
#FrameworkGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(1, 30%);
}
#FrameworkGrid {
  font-size: 50%;
  text-align: center;
  
}
#ToolsGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(1, 30%);
}
#ToolsGrid {
  font-size: 50%;
  text-align: center;
  
}

#grid, img {
  width: 40%;
  font-size: 60%;
}
/* 
@media only screen and (max-width:1050px){
  .box{
    font-size: 40%;
  }
 } */