.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50%;
  }

  .contact-form h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: serif;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
  }

  .contact-form h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 60px;
    background-color: #007bff;
  }

  .contact-form h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 2550px;
    background-color: #007bff;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-family: sans-serif;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 148%;
    /* height: 100%; */
    padding: 8px;
    margin-bottom: 30px;
    background-color: #F5F5F5;
    font-family: Trebuchet MS, sans-serif;
  }
  
  .contact-form textarea {
    resize: vertical;
    border-radius: 20px;
    outline: none;
  }
  
  .contact-form input {
    border-radius: 20px;
    outline: none;
  }
  
  .contact-form button {
    padding: 8px 16px;
    background-color: #007bff;
    color: black;
    border: none;
    cursor: pointer;
  }

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.error-text {
    color: #e74c3c; 
    font-size: 14px; 
    margin-top: -30px; 
    margin-bottom: 16px; 
  } 