html{
  font-size: 62.5%;
}

body{
  height: 100vh;
  
  background: #000000;   /*fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0a0a0a,
    #000000
    );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #0a0a0a,
      #000000
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      color: black;
    }
/* body{
  height: 100vh;
  
  background: #136a8a;   fallback for old browsers
  background: -webkit-linear-gradient(
    to right,
    #267871,
    #136a8a
    );  Chrome 10-25, Safari 5.1-6
    background: linear-gradient(
      to right,
      #267871,
      #136a8a
      ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
      
      color: black
    } */
    
  .pages{    
  position: absolute;
  left: 40%;
  top: 40%;
  transform: translate(-40%, -40%);
  font-size: 5rem;
}

/* .scroll{
  padding: 12px;
  height: 2000px;
} */



 @media only screen and (max-width:1322px){
  .pages{
    font-size: 3.5rem;
    padding-top: 1px;
  }
 }
@media only screen and (max-width:900px){
  .pages{
    font-size: 2.7rem;
  }
} 
@media only screen and (max-width:700px){
  .pages{
    font-size: 2rem;
  }
} 
@media only screen and (max-width:500px){
  .pages{
    font-size: 1.5rem;
  }
} 
@media only screen and (max-width:400px){
  .pages{
    font-size: 1.2rem;
  }
} 
@media only screen and (max-width:280px){
  .pages{
    font-size: 1.1rem;
  }
} 

